node_modules
npm-debug.log

.prettierrc
.eslintrc.js
nest-cli.json
README.md

test
coverage
**/*.spec.ts
**/*.test.ts

drizzle

dist
build

.env
.env.*
!.env.example
.git
.gitignore

.DS_Store
Thumbs.db